@media screen and (min-width: 450px){
.flex-images .left, .flex-images .right {
    width: auto!important; 
    min-width: auto !important;
    float: left;
}

.scrollbar {
  height: calc(100% - 117px) !important;
  width: 100%;
  padding: 0 20px !important;
  overflow-y: scroll;
  background-color: transparent;
  /* position: absolute; */
  overflow-x: hidden;
}
}
.flex-images .item {
  width: 640px!important;
  height: 360px!important;
}
.flex-images .item:hover {
    width: 640px!important;
    height: 360px!important;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #d1ad25;
    width: 55px;
    height: 55px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 25%;
    left: 45%;
    z-index: 999;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .item.active.hostBorder img{
    width: 640px!important;
    height: 360px!important;
  }
  .item.active.hostBorder .playing{
    display:none!important;
  }
